@charset "UTF-8";

.project--container {
  background-color: #837E9F;
  padding: 10px;
}
.project--image {
  width: 100%;
}

.project--container h2, .project--container p, .project--container a {
  color: black;
}
