@charset "UTF-8";

.card {
  background-color: #302F3D;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}

.main--container {
  padding: 8px;
}

.main--container h1 {
  padding: 6px;
}

.main--menu {
  color: blue;
  display: flex;
}

.main--iconMenu {
  height: 75px;
  padding: 8px;
  border-radius: 20px;
}
